.body{
    background-color: #bddeffbd;
    animation-direction: normal;
}
.heading{
    color: rgb(209, 29, 29);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.heading:hover{
    font-size: larger;
    color: black;
}
